span.test {
    color: navy;
    font-weight: bold;
}

span.test-two {
    color: darkred;
    font-weight: bold;
}

.fit-picture {
    width: 80px;
    height: 80px;
}

img.challenge-picture {
    width: 200px;
    height: 200px;
}