body {
    background: url(https://www.imgonline.com.ua/examples/two-tone-blurred-background-6-big.jpg);
}

div {
    background: rgba(0, 0, 0, .3);
    border: 2px groove #fafafaf6;
}

p {
    color: #fafafaf6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-left: 4px;
}